<link rel="stylesheet" href="css/pure/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="css/pure/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="css/pure/grids-responsive-min.css">
<!--<![endif]-->

<style>
/* Pure Menu Custom Colors */
.pure-menu-active>.pure-menu-link,.pure-menu-link:focus,.pure-menu-link:hover{
    /*background-color: #a9a195 !important;*/
    background-color: #dbd7d2 !important;
    color: #000 !important;
}
.pure-menu-link {
    /*color: #a9a195 !important;*/
    color: #564f44 !important;
    margin-right: 1em;
}
.pure-menu-link:before {
    content: "⟡";
    color: #de581e;
    /*border-left: 3px solid #de581e;*/
    /*border-radius: 5px;*/
    padding-right: 8px;
}
.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
    background-color: #dbd7d2;
}

body {
    /*background-color: #f6ecd3;*/
    /*background-color: #ceb59f;*/
    /*background-color: #c2a270;*/
    /*background-color: #85969e;*/
    background-color: #fefefe;
    /*background-color: #0663fc;*/
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
    .content a.button {
        text-decoration: none;
        border: 1px solid #564f44;
        border-radius: 15px;
        background-color: #dbd7d2;
        color: #564f44;
        padding: 0.4em 0.8em 0.3em 0.8em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        line-height: 2.5em
    }
    .content h1 {
        font-weight: 300;
        font-size: 1.5em;
        color: #de581e;
        text-align: center;
        margin-top: 1em;
    }
    .content h2 {
        font-weight: 300;
        font-size: 1.2em;
        color: #de581e;
        text-align: left;
    }
    .content img.inset-left {
        float: left;
        margin: 0 0.85em 0.5em 0;
    }
    .content .figure-frame {
        margin: 0 0.7em;
    }
    .content .figure-label {
        text-align: center;
        font-weight: bold;
        margin: 0 1em 1em 1em;
    }

.header-wrapper {
    padding: 2em 0 0 0;
    background: url(src/rc_background1.jpg) no-repeat center;
    height: 400px;
}
.header {
    background-color: #7cbee8;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    display: flex;
    justify-content: center;
}
.logo {
    padding: 0.4em 0 0;
    height: 110px;
}
.logo-img {
    position: relative;
    margin-top: -48px;
    margin-bottom: -35px;

    width: 150px;
    height: 150px;
}

.title {
    margin: 0;
    color: #white;
    padding: 1.4em 0 0 0;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    flex: 1 auto;
 }
    .title h1 {
        font-size: 3em;
        color: #fff;
        margin: 0.2em 0;
        display: inline;
    }
    .title h2 {
        font-size: 1.2em;
        color: #333;
        padding: 0;
        margin: 0 0 0.2em 6.5em;
    }
    .title-left {
        text-align: right;
        flex: 2 1;
        margin-right: 1em;
    }
    .title-right {
        text-align: left;
        flex: 2 1;
        margin-left: 1em;
    }
    .title-center {
        text-align: center;
        flex: 0 1 0;
    }

.donate-button-row {
    position: relative;
    margin-top: -10em;
    margin-bottom: 4em;
    text-align: center;
}
#donate-button {
    width: 322px;
    height: 87px;
}
.donate-message {
    text-align: center;
}
.donate-message-badge {
    color: #efefef;
    background-color: #564f44;
    border-radius: 4px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0.35em 0.8em 0.3em 0.8em;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer {
    padding: 1.5em 0em 5em 0em;
    text-align: center;
    font-weight: 300;
    background-color: #564f44;
    color: white;
}
    .footer a {
        font-weight: 300;
        text-decoration: none;
        color: white;
    }
    .footer a:hover {
        text-decoration: underline;
    }
    .footer .dot {
        padding: 0 0.5em;
    }

@media not screen and (min-width: 48em) {
    .header-wrapper {
        /*background: url(src/rc_background1.jpg) no-repeat;*/
        background-position-y: -250px;
    }
    .header {
        margin-top: 0;
        flex-wrap: wrap;
    }
    .title {
         padding: 0.4em 0 0 0;
         flex: 0 1 100%;
    }
    .title h1 {
        font-size: 2em;
    }
    .title h2 {
        margin: 0 0 0.2em 0em;
    }
    .title-left {
        text-align: center;
        margin: 0 0 2.8em 0;
    }
    .title-right {
        text-align: center;
        margin: 2em 0 0.5em 0;
    }
    .logo-img {
        width: 100px;
        height: 100px;
    }
    .donate-button-row {
        margin-top: -9em;
        margin-bottom: 2em;
    }
    .tinybreak {
        display: block;
    }
    .footer .pure-u-1 {
        padding: 0.2em 0.5em;
    }
}
</style>
