<div class="header-wrapper">
    <div class="header">
        <div class="title title-left">
            <h1>Rock</h1>
        </div>
        <div class="title title-center">
            <img src="images/rc_logo_round.png" class="logo-img">
        </div>
        <div class="title title-right">
            <h1>Canyon</h1>
            <h2>Provo, Utah</h2>
       </div>
    </div>
</div>
<div class="donate-button-row">
    <input type="image" src="images/donate-button.svg" name="donate-button" id="donate-button" />
    <div class="donate-message">
        <span class="donate-message-badge">Rock Canyon Preservation Alliance</span>
    </div>
</div>
