<div class="header-wrapper" style="height: 140px; margin-bottom: 7em; background-position-y: -300px;">
    <div class="header">
        <div class="title title-left">
            <h1>Rock</h1>
        </div>
        <div class="title title-center">
            <img src="{{"/images/rc_logo_round.png" | prepend: site.baseurl | prepend: site.url}}" class="logo-img">
        </div>
        <div class="title title-right">
            <h1>Canyon</h1>
            <h2>Provo, Utah</h2>
       </div>
    </div>
</div>
