<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/og_image.png" />
    <meta property="og:description" content="{{ site.description | strip_html | strip_newlines }}" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% include styles.html %}
</head>
<body>

<div id="layout">
    <div id="main">
        {% include title.html %}

        <div class="content">
        {{ content }}
        </div>
    </div>
    {% include footer.html %}
</div>
  
</body>
</html>
